/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/aws.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/tado-thermostat-consumer.iml
/.idea/vcs.xml
/a0_tmp/
/.idea/dbnavigator.xml
/src/data/
/.env
